/*
Alterações personalizadas do tema principal
*/
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: 'Bree Serif', serif;
    font-weight: normal;
}

body, .header, section {
    font-family: 'Bree Serif', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bree Serif', serif;
    text-align: center;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #4d250c;
    font-size: 13px;
    margin: 0;
}

.inicio-frase-empresa {
    font-size: 22px;
    color: #e68e22;
}

/*

INÍCIO SESSÃO EMPRESA

 */

.img-hr-vertical {
    margin-top: 25px;
    margin-left: 30px;
}

.frase-texto-empresa {
    font-family: 'Bree Serif', serif;
}

/*

FIM SESSÃO EMPRESA

 */

.divisor-sessao {
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.header {
    text-transform: uppercase;
    background-color: #fea027;
}

.header a {
    color: #ffffff;
}

.navigation li {
    line-height: 40px;
}

.navright .navigation {
    float: none;
    margin-left: 128px;
}

.navigation li a {
    font-size: 19px;
    padding: 12px;
}

.hr-sessao {
    width: 200% !important;
    margin-left: -50% !important;
    margin-bottom: 72px !important;
}

.titulo-empresa {
    margin-top: 32px;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .header-logo {
        text-align: left;
    }

    .menu-principal {
        width: 85% !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}