/*
Alterações personalizadas do tema principal
*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

@font-face {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
}

body, .header, section {
    font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    text-align:center;
}

.divisor-sessao {
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.header {
    text-transform: uppercase;
    background-color: #fea027;
}

.header a {
    color: #ffffff;
}

.navigation li {
    line-height: 40px;
}

.navright .navigation {
    float: none;
    margin-left: 128px;
}

.navigation li a {
    font-size: 17px;
    padding: 15px;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .header-logo {
        text-align: left;
    }

    .menu-principal {
        width: 85% !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}